{% extends 'base.html' %}
{% block title %} Список игр {% endblock title %}
{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu/games.css') }}">
{% endblock head %}
{% block content%}
<section class="py-5 text-center container games-header-text">
    <img id="game_title_image" src="{{ url_for('static', filename='img/games_title.png') }}" alt="title">
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img id="games_title_icon" src="{{ url_for('static', filename='img/games_icons/snake.png') }}" alt="icon">
                    
                    <div class="card-body">
                        <p class="card-text">Вы - змейка. Собирайте яблоки по всему полю и получайте очки. Столкнулись с хвостом - проиграли. Посмотрим, сколько вы продержитесь.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for('snake')}}">Играть</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Инфо</a>
                            </div>
                            <!-- <small class="text-body-secondary">20.02.2024</small> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img id="games_title_icon" src="{{ url_for('static', filename='img/games_icons/tetris.png') }}" alt="icon">
                    
                    <div class="card-body">
                        <p class="card-text">Складывайте тетрисинки в линии и зарабатывайте очки. Чем больше разом сложите, тем больше очков. Старайтесь не переполнить игровое поле.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for('tetris')}}">Играть</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Инфо</a>
                            </div>
                            <!-- <small class="text-body-secondary">20.02.2024</small> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img id="games_title_icon" src="{{ url_for('static', filename='img/games_icons/labyrinth.png') }}" alt="icon">
                    
                    <div class="card-body">
                        <p class="card-text">Вы - исследователь катакомб. Чем раньше вы выберитесь из катакомб и чем короче найдёте путь, тем больше очков. Кончилось время - пройгрыш.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Играть</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Инфо</a>
                            </div>
                            <!-- <small class="text-body-secondary">20.02.2024</small> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img id="games_title_icon" src="{{ url_for('static', filename='img/games_icons/clicker.png') }}" alt="icon">
                    
                    <div class="card-body">
                        <p class="card-text">Просто клийкайте по монетке и зарабатывайте очки и деньги на улучшение кликов. Довольно просто и скучно...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Играть</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Инфо</a>
                            </div>
                            <!-- <small class="text-body-secondary">20.02.2024</small> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img id="games_title_icon" src="{{ url_for('static', filename='img/games_icons/banner.png') }}" alt="icon">
                    <div class="card-body">
                        <p class="card-text"><strong>(В разработке)</strong> Платформер в стиле Марио. Прыгайте по платформам, отбивайтесь от врагов и зарабатывайте очки.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Играть</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Инфо</a>
                            </div>
                            <!-- <small class="text-body-secondary">20.02.2024</small> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}